<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link {% if page.url contains '/music/' %}active{% endif %}" href="/music/">Music</a></li>
          <li class="nav-item"><a class="nav-link {% if page.url contains '/dev/' %}active{% endif %}" href="/dev/">Development</a></li>
          <li class="nav-item"><a class="nav-link {% if page.url contains '/art/' %}active{% endif %}" href="/art/">Art</a></li>
          <li class="nav-item"><a class="nav-link {% if page.url contains '/books/' %}active{% endif %}" href="/books/">Books</a></li>
          <li class="nav-item"><a class="nav-link {% if page.url contains '/blog/' %}active{% endif %}" href="/blog/">Blog</a></li>
          <li class="nav-item"><a class="nav-link {% if page.url == '/about/' %}active{% endif %}" href="/about/">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>